@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img{
    border-radius: 10px;
    height: 580px;
    width: 600px;
}
p{
    text-align: justify;

}
table{
    font-family: Roboto, Arial, sans-serif;
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
footer > a{
    text-decoration: none;
    transition: 1s;
    background-color: white;
    color: black;
}
